.header {
  width: 100%;
  height:181px;
  top: 0 ;
  background-color: white;
  margin-top: -25px;
  border-color:#777777;
  border-width: 1px;
  border-style: solid;
  /* border: 1px double #32a1ce; */
}



.title {
  width: 320px;
  padding: 10px;
  border: 1px solid gray;
  margin: 0;
  background-color:#4aaaa5;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  left: 277px;
  top: 55px;
}

.links {
  padding: 10px;
  margin: 5px;
  position:relative;
  border-width: 1px;
  border-color: black;
  top:110px;
  font-size: 12px;
  font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
  position:relative;
  top:10px;
 
}

li a {
  display: block;
  padding: 8px;
  background-color: white;
}


h1 {
  color:white;
}


body {
    background-image: url("../images/interlaced.png");
    margin: 0;
    padding: 0;
  }

img {
    float:left;
    margin:15px;
    position:relative;
    bottom:25px;
}

hr {
  margin-left:auto;
  margin-right:auto;
  height:.5px;
  color:gray;
  background-color: gray;
  opacity:.8;
  width:97%;

}

.About-Me {
  font-size:24px ;
  color:#4aaaa5;
  padding-left:80px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  padding: 20px;
  position:relative;
  left:48px;
}

.content1 {
width:960px;
border: 1px #dddddd;
align:center;
margin: auto;
background: white;
padding: 10px;
border-radius: 1px;
border-color:gray;
overflow:auto;
position: relative;
top:40px;
overflow:hidden;
}




h1 h2 {
    color:#4aaaa5;
    padding-left:80px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}




p {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}


h4 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: gray;
  opacity: .5;
}



/* unvisited link */
a:link {
  color:#777777;
}

/* visited link */
a:visited {
  color: #777777;
}

/* mouse over link */
a:hover {
  color: blueviolet;
}

/* selected link */
a:active {
  color: blue;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: gray;
    text-align: center;
    border-top: 8px solid #4aaaa5;
 }

